@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    margin: 0px;
}

.div-principal{
    display: flex;
    justify-content: center;
}

.div-central{
    width: 80%;
}

.div-central h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "JetBrains Mono", monospace;
    font-size: 2.5rem;
}

.div-central section{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    width: 60%;
    height: 2.6rem;
    font-size: xx-large;
    font-family: "JetBrains Mono", monospace;
    text-align: end;
}

.div-central select{
    height: 100%;
}

footer{
    padding-top: 3rem;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}